.modal-auth-container {
    display: flex;
    flex-wrap: wrap;
  
    .tabs__label {
      padding: 10px 16px;
      cursor: pointer;
    }
  
    .tabs__radio {
      display: none;
    }
  
    .tabs__content {
      order: 1;
      width: 100%;
      border-bottom: 3px solid #dddddd;
      height: 31rem;
      display: none;
      background-color: #fff;
      padding: 1rem 3.2rem;
    }
  
    .tabs__radio:checked + .tabs__label {
      font-weight: bold;
      color: #009578;
      border-bottom: 2px solid #009578;
    }
  
    .tabs__radio:checked + .tabs__label + .tabs__content {
      display: initial;
    }

  }